<html>
<center>
<h3>Welcome, <%= @player_name %></h3>


<h4>Please select the coordinates and orientation for your ships</h4>

Select the ship you want to place
<br>
<form action="place_ships" method="post">
	<select name="ship_type">
		<option value="ship_one">Aircraft Carrier</option>
		<option value="ship_two">Battleship</option>
		<option value="ship_three">Destroyer</option>
		<option value="ship_four">Submarine</option>
		<option value="ship_five">Patrol Boat</option>
	</select>
<br>
<br>
Vertical coordinate
<br>
	<select name="vertical_coordinate">
		<option value="a">A</option>
		<option value="b">B</option>
		<option value="c">C</option>
		<option value="d">D</option>
		<option value="e">E</option>
		<option value="f">F</option>
		<option value="g">G</option>
		<option value="h">H</option>
		<option value="i">I</option>
		<option value="j">J</option>
	</select>
<br>
<br>
Horizontal coordinate
<br>	
	<select name="horizontal_coordinate">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
	</select>
<br>
<br>
Direction
<br>
	<select name="direction">
		<option value="n">North</option>
		<option value="e">East</option>
		<option value="s">South</option>
		<option value="w">West</option>
	</select>
<br>
<br>
<input type= "submit" value = "place ship">

</form>

</center>
</html>